{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr>
        <td>Afternoon</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Introduction to Python</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
      </td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Continuation of Python: Data analysis and Visualization</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
        </td>
      </tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-genomics" %}

<div class="row">
  <div class="col-md-6">
    <h3>May 20</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>09:30</td><td><a href="https://datacarpentry.org/organization-genomics/01-tidiness/index.html">Data Tidiness</a></td></tr>
      <tr><td>10:20</td><td><a href="https://datacarpentry.org/organization-genomics/02-project-planning/index.html">Planning for NGS Projects</a></td></tr>
      <tr><td>11:30</td><td><a href="https://datacarpentry.org/shell-genomics/01-introduction/index.html">Introducing the Shell</a></td></tr>
      <tr><td>12:00</td><td><a href="https://datacarpentry.org/shell-genomics/02-the-filesystem/index.html">Navigating Files and Directories</a></td></tr>
      <tr><td>13:30</td><td> END </td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>May 21</h3>
    <table class="table table-striped">
      <tr><td>09:30</td><td> <a href="https://datacarpentry.org/shell-genomics/03-working-with-files/index.html">Working with Files and Directories</a></td></tr>
      <tr><td>10:30</td><td><a href="https://datacarpentry.org/shell-genomics/04-redirection/index.html">Redirection</a></td></tr>
      <tr><td>11:30</td><td><a href="https://datacarpentry.org/shell-genomics/05-writing-scripts/index.html">Writing Scripts and Working with Data</a></td></tr>
      <tr><td>12:30</td><td><a href="https://datacarpentry.org/shell-genomics/06-organization/index.html">Project Organization</a></td></tr>
      <tr><td>13:00</td><td><a href="https://datacarpentry.org/wrangling-genomics/01-background/index.html">Background and Metadata</a></td></tr>
      <tr><td>13:30</td><td> END </td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>May 24</h3>
    <table class="table table-striped">
      <tr><td>09:30</td><td><a href="https://datacarpentry.org/wrangling-genomics/01-background/index.html">Background and Metadata (Contd.)</a></td></tr>
      <tr><td>10:00</td><td><a href="https://datacarpentry.org/wrangling-genomics/02-quality-control/index.html">Assessing Read Quality</a></td></tr>
      <tr><td>11:00</td><td><a href="https://datacarpentry.org/wrangling-genomics/03-trimming/index.html">Trimming and Filtering</a></td></tr>
      <tr><td>12:10</td><td><a href="https://datacarpentry.org/wrangling-genomics/04-variant_calling/index.html">Variant Calling Workflow</a></td></tr>
      <tr><td>13:30</td><td> END </td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>May 25</h3>
    <table class="table table-striped">
      <tr><td>09:30</td><td><a href="https://datacarpentry.org/wrangling-genomics/05-automation/index.html">Automating a Variant Calling Workflow</a></td></tr>
			<tr><td>10:30</td><td><a href="https://datacarpentry.org/cloud-genomics/01-why-cloud-computing/index.html">Why of cloud computing</a></td></tr>
      <tr><td>11:30</td><td><a href="https://datacarpentry.org/cloud-genomics/02-logging-onto-cloud/index.html">Logging onto Cloud</a></td></tr>
			<tr><td>11:45</td><td><a href="https://datacarpentry.org/cloud-genomics/03-verifying-instance/index.html">Fine tuning your Cloud Setup</a></td></tr>
			<tr><td>12:00</td><td><a href="https://datacarpentry.org/cloud-genomics/04-which-cloud/index.html">Which Cloud for my data?</a></td></tr>
      <tr><td>13:00</td><td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td></tr>
      <tr><td></td><td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-socsci" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


{% elsif site.curriculum == "dc-geospatial" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>Morning</td>
        <td><a href="https://datacarpentry.org/organization-geospatial/">Introduction to Geospatial Concepts</a>
        </td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data</a></td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data (continued)</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 1)</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>END</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 2)</td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 3)</td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
